<%- include ("partials/header2.ejs") %>
<div class="container">
    <h3 style="color:#800020">Wine Added Successfully!</h3>
    <p>Thank you for adding the wine to our catalogue.</p>
    <p>You can access the catalogue <a href="/sparklingwines">here</a></p>
    <!-- Optionally, you can provide a link to add more wines or any other action -->
</div>
<%- include ("partials/footer.ejs") %>
