<%- include ("partials/header2.ejs") %> <!-- Includes the header partial -->

<div class="container">
    <h3 style="color:#800020">Wine Added Successfully!</h3> 
    <p>Thank you for adding the wine to our catalogue.</p> 
    <p>You can access the catalogue <a href="/sparklingwines">here</a></p> <!-- Link to the catalogue -->
</div>

<%- include ("partials/footer.ejs") %> <!-- Include the footer partial -->
