<%- include ("partials/header.ejs") %>

<div class="container">
<p class="contact-info">
    Please contact us for more info.
</p>
<p class="contact-info">
    E-mail: winesipper08@gmail.com
</p>
<p class="contact-info">
    Phone: +64 0123456789
</p>
</div>

<%- include ("partials/footer.ejs") %>
