<%- include ("partials/header.ejs") %> <!-- Includes the header -->

<html> 
<head>
    <title>Welcome to WineSipper</title> 
    <link rel="stylesheet" href="/public/css/styles.css"> <!-- Link to the CSS file for styling -->
</head>
<body>
    <div class="container">
        <h1 style="color:#800020;">Welcome to WineSipper</h1> 
        <p>Welcome to WineSipper, your ultimate destination for wine discovery and appreciation! At WineSipper, we're passionate about wine and dedicated to creating a vibrant community where wine enthusiasts like you can connect, explore, and share your love for the world of wine.</p> <!-- Introduction paragraph -->
        <p>Discover our curated selection of wines from around the globe, personalized recommendations, engaging community discussions, and educational resources to enhance your wine journey.</p> <!-- Overview of the offerings on WineSipper -->

        <h2 style="color:#800020;"><u>Who are we?</u></h2> 
        <p>Our website is born from a profound love for the artistry, and culture of wine. As passionate enthusiasts ourselves, we've embarked on a journey to create a digital haven where fellow aficionados can explore, discover, and indulge in the world of fine wines.
        Imagine stepping into a virtual cellar where every bottle tells a story – from the sun-drenched vineyards where the grapes were lovingly tended, to the skilled hands that crafted them into liquid masterpieces. Our collection is a reflection of our unwavering commitment to curate only the most exceptional wines, ensuring that each sip is a moment of pure delight.
        But our website is more than just a catalogue – it's a celebration of the rich tapestry of wine culture. It's a place where you can deepen your knowledge, broaden your palate, and forge connections with fellow enthusiasts who share your passion.
        Join us on this journey of exploration and appreciation. Whether you're a seasoned connoisseur or just beginning to explore the world of wine, there's something here for everyone. So uncork a bottle, pour yourself a glass, and let's raise a toast to the endless possibilities that await in the world of wine.
        </p>  

        <a href="learnmore">Learn More</a> <!-- Link to learn more about WineSipper -->

        <h2 ><u>Our Team:</u></h2>  
        <div class="team-section">
            <div class="team-member">
                <img src="/public/images/team_member1.jpg" alt="Team Member 1"> <!-- Image of Team Member 1 -->
                <h3>Hem</h3>  
                <p>Co-Founder & CEO</p>  
            </div>
            <div class="team-member">
                <img src="/public/images/team_member2.jpg" alt="Team Member 2"> <!-- Image of Team Member 2 -->
                <h3>Urvashi</h3> 
                <p>Co-Founder & CTO</p> 
            </div>
            <div class="team-member">
                <img src="/public/images/team_member3.jpg" alt="Team Member 3"> <!-- Image of Team Member 3 -->
                <h3>Vivek</h3> 
                <p>Advanced Sommelier</p> 
            </div>    
        </div> 
    </div> 

    <%- include ("partials/footer.ejs") %> <!-- Includes the footer -->
</body>
</html>  
