<%- include ("partials/header.ejs") %> <!-- Includes the header-->
 
<html >
<head>
     
    <title>About Us</title>
    <link rel="stylesheet" href="/public/css/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="container">
        
            <h2  style="color:#800020;">About Us</h2>
            <p>Welcome to WineSipper, your ultimate destination for wine discovery and appreciation! At WineSipper, we're passionate about wine and dedicated to creating a vibrant community where wine enthusiasts like you can connect, explore, and share your love for the world of wine.</p>
            <p>Our mission at WineSipper is simple: to make the world of wine more accessible, enjoyable, and social for everyone. Whether you're a seasoned connoisseur or just beginning your wine journey, we strive to provide you with the tools, resources, and inspiration to enhance your wine experience and discover new favorites along the way.</p>

            <h2 style="color:#800020;">What We Offer?</h2>
            <p>Explore our curated selection of wines from around the globe, featuring a diverse range of varietals, regions, and price points.</p>
            <p>Let us be your virtual sommelier! Our recommendation engine uses advanced algorithms to suggest wines tailored to your taste preferences.</p>
            <p>Join our growing community of wine lovers and enthusiasts from all walks of life. Connect with like-minded individuals, share tasting notes and recommendations, and participate in lively discussions about all things wine-related.</p>
            <p>Expand your wine knowledge with our comprehensive resources, including articles, guides, and tutorials on topics ranging from wine tasting techniques and food pairings to vineyard tours and winemaking processes.</p>
        
            <h2 style="color:#800020;">Why Choose WineSipper?</h2>
            <p>We're committed to offering only the finest wines sourced from reputable producers and wineries worldwide.</p>
            <p>Our intuitive platform is designed with your convenience in mind, making it easy to browse, search, and purchase wines online from the comfort of your home or mobile device.</p>
            <p>Your satisfaction is our top priority. Whether you're shopping for a special occasion or simply indulging in a casual sip, our dedicated team is here to provide you with personalized assistance and support every step of the way.</p>
         
            <h2 style="color:#800020;">Join Us Today!</h2>
            <p>Ready to uncork the possibilities? Join the WineSipper community today and embark on a journey of wine discovery, friendship, and fun. Cheers to great wines and unforgettable moments!</p>
    </div>
    
    <%- include ("partials/footer.ejs") %> <!-- Includes the footer-->

</body>
</html>
