<%- include ("partials/header.ejs") %>
<link rel="stylesheet" href="/public/css/styles.css">

<body>
    <div class="container">
        <h1 class="heading">Login</h1>
        <form action="/auth" method="post" class="form">
            <div class="form-group">
                <input type="text" name="username" id="username" placeholder="Username" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="additional-info">
            <h4>Don't have an account? <a href="register" class="link">Register here</a></h4>
        </div>
    </div>

    <%- include ("partials/footer.ejs") %>
    
</body>
