<style>
    .site-footer{
        background-color: rgb(17, 3, 59);
    } 
</style>
<footer class="site-footer" id="footer">
    <p style="color: white;">&copy; 2024 WineSipper. All rights reserved. | <a href="privacyPolicy">Privacy Policy</a> | <a href="contactUs">Contact Us</a> | </p>
</footer>
